<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
    <link rel="stylesheet" href="/static/books.css">
</head>
<body>
    <h1>All Books</h1>
    {% for book in books %}
        <div>
            <h2>{{ book.title }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>Category: {{ book.category }}</p>
            <p>Available: {{ book.available }}</p>

            {% if book.available %}
                <form action="/issue" method=POST>
                    <input type="hidden" name="id" value="{{ book.id }}">
                    <button type="submit">Issue Book</button>
                </form>
            {% else %}
                <p>Already Borrowed</p>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
</body>
</html>