<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Library</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign-up</a>
        </nav>
    </header>
    <main>
        <section>
            <p>Looking forward to read a book.</p>
            <a href="/search"><button>Search Books</button></a>
        </section>
        <section>
            <p>View list of all books.</p>
            <a href="/books"><button>All Books</button></a>
        </section>
        <section>
            <p>View list of my books.</p>
            <a href="/mybooks"><button>My Books</button></a>
        </section>
        <section>
            <a href="/logout"><button>Logout</button></a>
        </section>
     </main>
</body>
</html>